@use "../../styles/variables" as var;
@use "../../styles/mixin" as mixin;

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 2rem;

  .title {
    color: var.$form_primary_color;
    font-family: var.$font-gilroy;
    font-weight: var.$fw-extrabold;
    font-size: 42px;

    @include mixin.tablet {
      font-size: 36px;
    }

    @include mixin.mobile {
      font-size: 28px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    border: 2px solid var.$form_primary_color;
    width: auto;
    margin-top: 1rem;

    @include mixin.tablet {
      width: auto;
    }

    @include mixin.mobile {
      width: 100%;
      max-width: 300px;
    }

    button {
      padding: 0.5rem 1rem;
      cursor: pointer;
      background: #fff;
      border: none;
      transition: background 0.3s ease-in-out;
      font-size: 16px;
      font-family: var.$font-gilroy;
      font-weight: var.$fw-regular;
      flex: 1;

      @include mixin.tablet {
        font-size: 16px;
        padding: 0.5rem 1rem;
      }

      @include mixin.mobile {
        font-size: 14px;
        padding: 0.6rem 0.8rem;
      }

      &:hover {
        background: #e0e0e0;
      }

      &.active {
        background: var.$form_primary_color;
        color: white;
      }
    }
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  width: 100%;
  padding: 0;

  &.active {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 100px;
    max-height: 100%;
    opacity: 1;
    overflow: visible;
    padding: 0;

    @include mixin.tablet {
      max-width: 100%;
    }

    @include mixin.mobile {
      max-width: 100%;
    }
  }

  .submitButton {
    display: flex;
    background: linear-gradient(90deg, #e94b6a, #a855c9);
    color: white;
    border: none;
    margin: 0 auto;
    padding: 1rem 4rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(233, 75, 106, 0.6),
      0 0 20px rgba(168, 85, 201, 0.6);

    &:hover {
      box-shadow: 0 0 15px rgba(233, 75, 106, 0.8),
        0 0 25px rgba(168, 85, 201, 0.8);
    }

    @include mixin.tablet {
      padding: 0.6rem 1.2rem;
    }

    @include mixin.mobile {
      padding: 0.5rem 1rem;
    }
  }
}
