/* Geometria */

@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria/Geometria.woff2") format("woff2"),
    url("/fonts/Geometria/Geometria.woff") format("woff"),
    url("/fonts/Geometria/Geometria.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria/Geometria-Light.woff2") format("woff2"),
    url("/fonts/Geometria/Geometria-Light.woff") format("woff"),
    url("/fonts/Geometria/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria/Geometria-Bold.woff2") format("woff2"),
    url("/fonts/Geometria/Geometria-Bold.woff") format("woff"),
    url("/fonts/Geometria/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria/Geometria-ExtraBold.woff2") format("woff2"),
    url("/fonts/Geometria/Geometria-ExtraBold.woff") format("woff"),
    url("/fonts/Geometria/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Gilroy */

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-FREE/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-FREE/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
