$font-geometria: "Geometria", sans-serif;
$font-gilroy: "Gilroy", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-extrabold: 800;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

//Colors
$primary-color: #3d5a8c;
$secondary-color: #f4f5f6;

// Forms
$form_primary_color: #363b5e;
$form_txt_color: #b0b5bc;
$form_bg_color: #f3f7fa;
